.Nav {
  background-color: #e7ecef;
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
}
.nav-right {
  justify-content: end;
  margin-right: 5px;
}

.link {
  margin: 10px;
  text-decoration: none;
  color: #0d4b74;
}
