.formDisplay {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

.input {
  padding: 10px;

  margin-bottom: 10px;
  border-radius: 5px;
  width: 25vw;
}

.applied {
  margin-top: 15px;
  background-color: whitesmoke;
  width: 25vw;
  border-radius: 5px;
}

@media (max-width: 750px){
  .applied {
    width: 60vw;
  }
  .input {
    width: 60vw;
  }
}